* {
    font-family: FontAwesome, JetBrains Mono;
    font-size: 12px;
}

window#waybar {
    background-color: rgb(21, 21, 21);
    color: #ffffff;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 2px;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #212121;
}

tooltip {
    font-family: Roboto;
    font-size: 11px;
    background: rgba(21, 21, 21, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    padding: 4px;
}
tooltip label {
    color: white;
}

#workspaces button.focused {
    background-color: #296b00;
    box-shadow: inset 0 -1px #0b9f00;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#language,
#tray{
    padding: 0px 0px 0px 8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    padding-right: 8px;
}

#clock {
    padding-left: 8px;
    padding-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
